<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Todo List
    </title>

</head>

<body>
    <header>

    </header>

    <main>
        <div>
            <h1>
                {{ todo_list.name }}
            </h1>
            <div>
                <p>
                    <a href="{% url 'todo_list_update' todo_list.id %}">Edit
                    </a>
                </p>
                <p>
                    <a href="{% url 'todo_list_delete' todo_list.id %}">Delete
                    </a>
                </p>
            </div>
            <h2>
                Tasks
            </h2>
            <table>
                <thead>
                    <th>
                        Task
                    </th>
                    <th>
                        Due date
                    </th>
                </thead>
                <tbody>
                    {% for item in todo_list.items.all %}
                    <tr>
                        <td>
                        <td><a href="{% url 'todo_item_update' item.id %}">{{ item.task }}</a></td>
                        </a>
                        </td>
                        <td>
                            {{ item.due_date|date:"M d, Y" }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>

    </main>
    <footer>

    </footer>
</body>

</html>
