<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Todo List
    </title>

</head>

<body>
    <header>

    </header>

    <main>
        <div>
            <h1>
                My Lists
            </h1>
            <div>
                <p>
                    <a href="{% url 'todo_list_create' %}">Create a new list
                    </a>
                </p>
                <p>
                    <a href="{% url 'todo_item_create' %}">Create a new item
                    </a>
                </p>
            </div>
            <table>
                <thead>
                    <th>
                        Name
                    </th>
                    <th>
                        Number of items
                    </th>
                </thead>
                <tbody>
                    {% for item in todo_list_list %}
                    <tr>
                        <td>
                            <a href="{% url 'todo_list_detail' item.id %}">{{ item.name }}
                            </a>
                        </td>
                        <td>
                            {{ item.todo_total }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>

    </main>
    <footer>

    </footer>
</body>

</html>
